set tabsize 2
set tabstospaces
set autoindent
set trimblanks
set linenumbers
set constantshow
set titlecolor white,red
set keycolor cyan
set functioncolor cyan
set numbercolor yellow
set mouse
set minibar
#include /opt/homebrew/share/nano/*.nanorc